<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.datafrominternet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true"/>

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label=" "
        android:supportsRtl="true"
        android:theme="@style/Theme.Weather"
        tools:replace="android:label">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Z8gNuOuy0dWGbmC6xNQrAFoKtQ2voAZW">
        </meta-data>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>
        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:process=":remote">
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".LogIn">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Movie.Movie"/>
        <activity android:name=".Weather.Weather"></activity>
        <activity android:name=".Notebook.AddNote" />
        <activity android:name=".Notebook.NoteBook"/>
        <activity android:name=".Calendar.Calendar"/>
        <activity android:name=".SignUp"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Account.AccountList"/>
        <activity android:name=".Account.AddRecord"/>
        <activity android:name=".Account.Chart"/>
        <activity android:name=".LBS.Map"/>
        <activity android:name=".HaveFun.MainInterface"/>

    </application>

</manifest>